---
import type { Category } from '@/utils/get-categories'

interface Props {
  parentUrl?: string
  categories: Category[]
}

const { parentUrl = '/categories', categories } = Astro.props
---

<ul class="border-sidebar-border ml-3.5 flex flex-col min-w-0 gap-1 border-l pl-2.5 py-0.5">
  {categories.map((category) => (
    <li>
      <a href={`${parentUrl}/${category.name}`} class="flex justify-between items-center py-2">
        <span class="px-2">{category.name}</span>
        <span class="text-xs px-2 py-1 rounded-full bg-muted text-muted-foreground">{category.count}</span>
      </a>
      {category.children && (
        <div>
          <Astro.self parentUrl={`${parentUrl}/${category.name}`} categories={category.children} />
        </div>
      )}
    </li>
  ))}
</ul>
