---
import type { Category } from '@/utils/get-categories'
import CategorySubList from './CategorySubList.astro'

interface Props {
  categories: Category[]
}

const { categories } = Astro.props
---

<ul class="w-full max-w-md flex flex-col gap-1 mt-6">
  {categories.map((category) => (
    <li>
      <a href={`categories/${category.name}`} class="flex justify-between items-center py-2">
        <span class="px-2">{category.name}</span>
        <span class="text-xs px-2 py-1 rounded-full bg-muted text-muted-foreground">{category.count}</span>
      </a>
      {category.children && (
        <div>
          <CategorySubList parentUrl={`categories/${category.name}`} categories={category.children} />
        </div>
      )}
    </li>
  ))}
</ul>
