---
import IconTextLink from '@/components/IconTextLink.astro'
import { defaultLang } from '@/i18n/ui'
import type { Lang } from '@/i18n/utils'
import Layout from '@/layouts/Layout.astro'
import {
  DEFAULT_COVER_PATH,
  getProjectOgImagePath,
  getProjectPaths,
  getSlugById,
  sanitizeSlug,
} from '@/utils/getPosts'
import { Image } from 'astro:assets'
import { type CollectionEntry } from 'astro:content'
import { render } from 'astro:content'

export async function getStaticPaths() {
  return getProjectPaths(defaultLang)
}

interface Props {
  project: CollectionEntry<'project'>
  lang: Lang
}

const { project, lang } = Astro.props
const { Content } = await render(project)
const { cover, title, description, date, tags, github, homepage, liveDemo } =
  project.data

const formattedDate = date.toLocaleDateString(lang, { dateStyle: 'medium' })

const ogImage = project.data.cover ?? getProjectOgImagePath(project.id)

const projectSlug = getSlugById(project.id)

const titleTransitionName = `project-title-${lang}-${sanitizeSlug(projectSlug)}`
const coverTransitionName = `project-cover-${lang}-${sanitizeSlug(projectSlug)}`

const coverImage = cover ?? DEFAULT_COVER_PATH
---

<Layout
  title={title}
  description={description}
  image={ogImage}
  ogType="article"
>
  <main class="mx-auto my-16 flex w-full max-w-3xl flex-1 flex-col px-4">
    <header class="flex flex-col items-center gap-4 tracking-wide md:gap-6">
      <div aria-label="cover" class="mb-6 w-full">
        <Image
          src={coverImage}
          alt={title}
          width={720}
          height={480}
          class="w-full rounded-xl"
          transition:name={coverTransitionName}
        />
      </div>
      <h1 class="text-center text-3xl font-semibold text-balance md:text-4xl md:font-bold lg:text-5xl">
        <span transition:name={titleTransitionName}>{title}</span>
      </h1>
      <div class="text-muted-foreground flex justify-center gap-4 text-sm font-semibold text-nowrap">
        <time datetime={date.toISOString()}>{formattedDate}</time>
        <span>·</span>
        <div class="flex flex-wrap justify-center gap-4 font-medium md:font-semibold">
          {tags && tags.map((tag) => <span>{tag}</span>)}
        </div>
      </div>
      <div>
        <ul class="flex justify-center gap-4 text-sm md:text-base">
          <li>
            {github && (
              <IconTextLink
                name="GitHub Repo"
                href={github}
                icon="ri:github-fill"
                external
              />
            )}
          </li>
          <li>
            {homepage && (
              <IconTextLink
                name="Homepage"
                href={homepage}
                icon="ri:home-4-line"
                external
              />
            )}
          </li>
          <li>
            {liveDemo && (
              <IconTextLink
                name="Live Demo"
                href={liveDemo}
                icon="ri:global-line"
                external
              />
            )}
          </li>
        </ul>
      </div>
    </header>
    <article class="prose dark:prose-invert mx-auto mt-8" astro-content>
      <Content />
    </article>
  </main>
</Layout>

<script>
import mediumZoom from 'medium-zoom'
mediumZoom('[astro-content] > img, [astro-content] :not(a) > img', {
  background: 'var(--background)',
})
</script>
