---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<'promo'>

const props = Astro.props
const { cover, icon, title, description, linkText = 'Explore', linkTarget, github, homepage, liveDemo } = props.data;
---

<div class="@container">
  <div class="grid @3xl:grid-cols-2 items-center">
    <a href={linkTarget} target="_blank" rel="noopener noreferrer">
      <Image src={cover} alt={title} class="rounded-lg" />
    </a>
    <div class="@3xl:px-8 py-8">
      <h2 class="font-bold text-4xl leading-tight mb-6 @3xl:mb-8">
        <a href={linkTarget} target="_blank" rel="noopener noreferrer">{title}</a>
      </h2>
      <p class="text-xl text-muted-foreground tracking-wide">{description}</p>
      <div aria-label="promo footer" class="mt-6 @3xl:mt-8">
        <a href={linkTarget} target="_blank" rel="noopener noreferrer">{linkText} <Icon name="ri:arrow-right-line" class="inline" /></a>
      </div>
    </div>
  </div>
</div>
